@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Scansky Italic';
    src: local('Scansky Condensed Black Italic'), local('Scansky-Condensed-Black-Italic'),
        url('../fonts/Scansky-CondensedBlackItalic.woff2') format('woff2'),
        url('../fonts/Scansky-CondensedBlackItalic.woff') format('woff'),
        url('../fonts/Scansky-CondensedBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: 'Scansky';
    src: local('Scansky Condensed Black'), local('Scansky-Condensed-Black'),
        url('../fonts/Scansky\ Condensed\ Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

.WOSPShadow{
    text-shadow:
    -5px -5px 0 #000,  
     5px -5px 0 #000,
     -5px 5px 0 #000,
      5px 5px 0 #000,
     0px -5px 0 #000,  
     0px -5px 0 #000,
     -5px 0px 0 #000,
      5px 0px 0 #000;
      
}



.WOSPShadowMain {
    /* -webkit-text-stroke-width: 13px;
    -webkit-text-stroke-color: black; */
    /* text-shadow:
    -10px -10px 0 #000,  
     10px -10px 0 #000,
     -10px 10px 0 #000,
      10px 10px 0 #000,
     0px -10px 0 #000,  
     0px -10px 0 #000,
     -10px 0px 0 #000,
      10px 0px 0 #000; */
    /* text-shadow:
    -10px -10px 0 #fff,  
     10px -10px 0 #fff,
     -10px 10px 0 #fff,
      10px 10px 0 #fff,
     0px -10px 0 #fff,  
     0px -10px 0 #fff,
     -10px 0px 0 #fff,
      10px 0px 0 #fff; */
      text-shadow: 
      0 20px 0 black,    /* Pierwsza ramka - dół */
      0 -20px 0 black,   /* Pierwsza ramka - góra */
      20px 0 0 black,    /* Pierwsza ramka - prawo */
      -20px 0 0 black,   /* Pierwsza ramka - lewo */
      20px 20px 0 black, /* Pierwsza ramka - dół-prawo */
      -20px -20px 0 black, /* Pierwsza ramka - góra-lewo */
      20px -20px 0 black, /* Pierwsza ramka - góra-prawo */
      -20px 20px 0 black, /* Pierwsza ramka - dół-lewo */
      0 30px 0 white,    /* Druga ramka - dół */
      0 -30px 0 white,   /* Druga ramka - góra */
      30px 0 0 white,    /* Druga ramka - prawo */
      -30px 0 0 white,   /* Druga ramka - lewo */
      30px 30px 0 white, /* Druga ramka - dół-prawo */
      -30px -30px 0 white, /* Druga ramka - góra-lewo */
      30px -30px 0 white, /* Druga ramka - góra-prawo */
      -30px 30px 0 white; /* Druga ramka - dół-lewo */ 
}

body{
    background-color: blue;
}

* {
    user-select: none;
}